In [5]:
import pandas as pd
data=pd.Series([1,2,3])
print(data)

0    1
1    2
2    3
dtype: int64

2.	Write a pandas program to convert a pandas module series to python list.

In [4]:
print(ds.tolist())

[2, 4, 6, 8, 10]

3.	Write a pandas program to add, subtract, multiple and divide two pandas series.

In [10]:
x=pd.Series([1,2,3])
y=pd.Series([1,2,3])
print("MUL\n",x*y)
print("ADD\n",x+y)
print("SUB\n",x-y)

MUL
 0    1
1    4
2    9
dtype: int64
ADD
 0    2
1    4
2    6
dtype: int64
SUB
 0    0
1    0
2    0
dtype: int64

4.	Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.

In [13]:
x=pd.Series(['X','Y','Z','asD','cdS'])
print("Upper case\n",x.str.upper())
print("Lower case\n",x.str.lower())
print("Length\n",x.str.len())

Upper case
 0      X
1      Y
2      Z
3    ASD
4    CDS
dtype: object
Lower case
 0      x
1      y
2      z
3    asd
4    cds
dtype: object
Length
 0    1
1    1
2    1
3    3
4    3
dtype: int64

5.	Write a Pandas program to remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series

In [20]:
x=pd.Index([' Green','Black ',' white '])
print(x.str.strip())
print(x.str.len())

Index(['Green', 'Black', 'white'], dtype='object')
Int64Index([6, 6, 7], dtype='int64')

6.	Write a Pandas program to create and display a DataFrame consist of student name, father name , mobile number as columns and register number as index.

In [40]:
l={'Name':['Akram','Ali'],'Father':['shoheb','shoheb'],'Ph No.':[123,456]}
label=['y20cs162','y20cs164']

df=pd.DataFrame(l,index=label)
print(df)

           Name  Father  Ph No.
y20cs162  Akram  shoheb     123
y20cs164    Ali  shoheb     456

7.	Write a Pandas program to get list from DataFrame column headers.

In [41]:
print(list(df.columns.values))

['Name', 'Father', 'Ph No.']

8.	Write a Pandas program to change the name of the student.

In [44]:
df['Name'][0]='shoheb'
print(df['Name'][0])
print(df['Name'])

shoheb
y20cs162    shoheb
y20cs164    shoheb
Name: Name, dtype: object

C:\Users\exam2\AppData\Local\Temp/ipykernel_14780/2192507288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'][0]='shoheb'

9.	Write a Pandas program to insert a new column “grade” in existing DataFrame.

In [46]:
df['Grade']=[2,3]
print(df)

            Name  Father  Ph No.  Grade
y20cs162  shoheb  shoheb     123      2
y20cs164  shoheb  shoheb     456      3

10.Write a pandas program to create and display a dataframe from a specified dictionary data which has the index labels.

In [47]:
l={'Name':['Akram','Ali'],'Father':['shoheb','shoheb'],'Ph No.':[123,456]}
label=['y20cs162','y20cs164']

df=pd.DataFrame(l,index=label)
print(df)

           Name  Father  Ph No.
y20cs162  Akram  shoheb     123
y20cs164    Ali  shoheb     456